name: In-Out test

on:
  push


jobs:
  
  build_and_test:

    runs-on: ubuntu-latest

   
    steps:
      
      - uses: actions/checkout@v2
      
      - name: Install dependencies
        run: sudo apt-get install -y valgrind && sudo apt-get install -y cppcheck
      - name: CPPCheck Static Code Analysis
        run: cppcheck --enable=all ./*.cpp 2> report.txt && cat report.txt && if grep -q "(warning)" "./report.txt"; then exit 1; fi && if grep -q "(error)" "./report.txt"; then exit 1; fi
        
      - name: Upload CPPCheck report as artifact
        uses: actions/upload-artifact@v2
        with:
          name: report
          path: report.txt
          
      - name: Build
        run: g++ -Wall -Werror -std=c++17 *.cpp -o project
        
      - name: Make executeable
        run: chmod +x ./battle.sh
        
      - name: generate output        
        run: ./battle.sh 
        
      - name: I/O test 
        run: diff --strip-trailing-cr output.txt good_output.txt

      - name: Valgrind memory check
        run:  make memtest
